
/* Variable Definition */
:root {
  
  --bold-font: 700;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ff7235;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #ffffff;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #4957d4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav h1 {
    color: #ffffff;
  }
  
  nav a {
    color: #ffffff;
    transition: var(--transition);

  }
  nav a:hover {
    color: #ff7235;
    border-bottom: 2px solid #ff7235;
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .intro {
    text-align: center;
    margin-top: 140px;
    margin-left: 250px;
    
  }

  .intro p {
    font-size: 2em;
    color: #1E6FD9;
    
    font-weight: bold;
  }

  .hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
  }
  
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px #adcff0;
    background-color: #ffffff;
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px #adcff0;
    padding: 20px;
    margin: 10px;
  }

  .projects {
    background-color: #ffffff;
    padding: 32px 0;
    margin-top: 2rem;
  }
  .projects a {
    color: #0018f5;
  }
  
  .project-pic {
    width: 36%;
    height: 33%; 
  }

  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }
  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }

  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px #adcff0;
    padding: 20px;
    margin: 10px;
  }

  a.check-out-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 5px;
  }

  a.check-out-button:hover {
    background-color: #c3c5c7;
  }

  .contact {
    text-align: center;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff; 
    padding: 10px; 
    border-radius: 6px; 
  }
  
  .contact h2 {
    font-family: 'Optima';
    font-size: 3em;
    margin-bottom: 20px; 
  }
  
  .contact p {
    color: #6a6a75;
    margin-bottom: 10px; 
  }
  
  .contact a {
    color:black;
    font-size: 1.5em;
    
    margin-top: 10px; 
  }

  .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1%;
    bottom: 50%;
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }

  .scroll-up {
    position: fixed;
    left: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffffff; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #7d7d80; 
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #424242; 
  }